    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Palette Mosaic', sans-serif;
        background: url(images/photo-115082.jpg!d);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: rgba(255, 230, 6, 0.85);
        position: relative;
    }
    /*  */
    /* header */
    /*  */
    
    .h1 {
        display: block;
        font-size: 50px;
        font-weight: bold;
        transform: translateY(100%);
    }
    /*  */
    /* button styling */
    /*  */
    
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    #keys {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    
    #keybox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: row;
        width: 120%;
    }
    
    #a:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #s:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #d:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #f:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #g:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #h:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #j:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #k:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #l:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 5px 2px rgba(252, 215, 3, 0.9);
    }
    
    #a {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-evenly;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #s {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #d {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #f {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #g {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #h {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #j {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #k {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    
    #l {
        background-color: #88A2AA;
        font-size: 30px;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        justify-content: space-between;
        transform: translateY(310%);
        border-radius: 10%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: gold;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
        font-family: 'Palette Mosaic', sans-serif;
    }
    /*  */
    /* footer styling */
    /*  */
    
    .footer {
        background-color: #000000, transparent;
        height: 200px;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(280%);
    }
    
    .social {
        font-size: 30px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        padding: 40px;
        padding-bottom: 0px;
        border-top: 1px solid #eee;
        margin-top: 50px;
        justify-content: space-between;
    }
    
    .social a {
        background-color: black;
        font-size: 22px;
        width: 45px;
        height: 45px;
        line-height: 39px;
        display: inline-block;
        border-radius: 100%;
        border: 2px solid whitesmoke;
        box-shadow: 0px 0px 0px 1px whitesmoke(255, 255, 255, 0.4);
        margin: 10px;
        color: #fff;
        opacity: 1.0;
        transition: 0.3s ease-in-out;
    }
    
    .social a:hover {
        opacity: 1.9;
        box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
    }
    
    h6 {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .social {
        margin: 0 auto;
    }